.homePage {
   height: 100vh;
   text-align: center;
   position: relative;
}

.homeTitle {
   @include headingFont(100);
   margin-top: 0;
   margin-bottom: 40px;
   padding-top: 20vh;
   text-align: center;
   color: $darkergray;
   span {
      margin-right: 5px;
      &:last-child {
         margin-right: 0;
      }
      &:nth-child(3) {
         color: $secondary;
      }
   }
}

.homeDescription {
   @include headingFont(20);
   margin: 0 auto;
   margin-bottom: 100px;
   font-weight: 900;
   width: 70%;
}

.guestAccountTxt {
   margin-bottom: 0;
}

.guestAccount {
   color: darken($primary, 10%);
   margin-top: 5px;
}

.homeButton {
   border-radius: 10px;
   margin-top: 20px;
   padding: 10px 30px;
   background: none;
   color: $darkergray;
   transition: all 0.05s linear;
   @include buttonPress(1.5px, 2px, $gray);   
}

.homeSignIn {
   margin-right: 20px;
   background: $white;
   &:hover {
      background: $lightgray;
   }
}

.homeSignUp {
   margin-left: 20px;
   background: $secondary;
   // color: $white;
   &:hover {
      background: darken($secondary, 10%);
   }
}