.registryHeader {
   background: lighten($secondary, 15%);
   text-align: center;
   padding: 50px;
   position: relative;
   &:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
   }
   .headerContent {
      position: relative;
      z-index: 1;
      width: 80%;
   }
   h2 {
      @include serifFont(80);
      margin: 0;
      line-height: 1.5;
   }
   p {
      margin: 10px;
      @include serifFont(24);
   }
}